body {
    font-family: Arial, sans-serif;
    background: #f7f7f7;
    margin: 0;
    padding: 0;
}
header {
    background: #2c3e50;
    color: white;
    padding: 15px;
    text-align: center;
}
nav {
    background: #2c3e50;
    border-radius: 0px 0px 10px 10px;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
    box-shadow: 0 7px 5px rgba(0,0,0,0.2);
}
nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    padding: 8px 4px 8px 4px;
    border-radius: 5px;
    transition: background 0.3s;
}

nav a:hover {
    background: rgba(255, 255, 255, 0.2);
}
main {
    max-width: 900px;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
}

h2 {
    margin-top: 0;
    text-align: center;
    color: #2c3e50;
}
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 25px;
}
label {
    font-weight: bold;
    color: #333;
    margin-top: 10px;
}
.telefone {
    margin-left: 34%;
}

input, textarea, select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
}
button {
    background: #27ae60;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}
button:hover {
    background: #219150;
}
table {
    width: 98%;
    border-collapse: collapse;
    margin-top: 15px;
}
table th, table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}
table th {
    background: #2c3e50;
    color: white;
}
.no-data {
    text-align: center;
    color: #666;
    padding: 15px;
}
.msg {
    margin-top: 15px;
    text-align: center;
    font-weight: bold;
}
.btn-clear {
    margin-top: 15px;
    padding: 10px 15px;
    background: #e74c3c;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}
.btn-clear:hover {
    background: #c0392b;
}
.campo {
display: flex;
align-items: center; /* Alinha verticalmente */
gap: 10px; /* Espaço entre o label e o textarea */
margin-bottom: 15px;
}

.campo label {
width: 100px; /* largura fixa para alinhar com outros labels */
font-weight: bold;

}

.campo textarea {
flex: 1; /* faz ocupar o resto do espaço */
padding: 8px;
border: 1px solid #ccc;
border-radius: 6px;
resize: vertical;
}
